# Backend API base URL (no trailing slash)
VITE_API_BASE_URL=http://134.98.148.179:8000
# Google OAuth Client ID
VITE_GOOGLE_CLIENT_ID=173455945512-f2ba6o8fhrbdrmbqiqlqskuisobuttun.apps.googleusercontent.com
